.schedule {
  h2 {
    text-align: center;
    text-decoration: underline;
  }
  ul {
    font-family: "OpenSans";
    font-size: 2.5rem;
    list-style: none;
    width: 90%;
    margin: 0 auto;
  }
  li {
    text-align: left;
  }
  span {
    font-weight: bold;
  }
  .special-note {
    font-style: italic;
    font-weight: bold;
  }
}
