// ---------------------------
// Third Party Libraries
// ---------------------------

// ---------------------------
// Variables
// ---------------------------

$light-blue-background: #145362;
$dark-blue-background: #145362;
$gray-background: #acacac;
$medium-blue-link: #1c8684;
$hover-blue-link: #b3ebea;
$black: #211914;
$white: #FDFCFC;
// Because of the way colors work, we shouldn't actually use
// true black or white, just colors that we can stand in for them.

//---------------------------
// Baltimore Hackathon CSS
//---------------------------

@import "bootstrap";
@import "sponsors";
@import "greystyle";
@import "splashstyle";
@import "splash-page-queries";
@import "tracks";
@import "judges";
@import "colors";
@import "faq";
@import "rules";
@import "contact";
@import "schedule";
@import "base/nav";
@import "base/footer";
@import "base/button";
@import "base/photos";
