@media (max-width: 1150px) {
  #ribbon {
    font-size: 0.25em;
  }
  .wrapper .column-wrapper .banner-container #banner {
    width: 5em;
  }
  .title {
    font-size: 0.9em;
  }
}

@media (max-width: 900px) {
  .row-email-container p {
    font-size: 0.55em;
  }
  #ribbon img {
    display: block;
    // margin: auto;
    &:last-child {
      float: right;
    }
  }
  .wrapper .column-wrapper {
    .banner-container #banner {
      width: 4.5em;
    }
  }
}

@media (max-width: 550px) {
  .wrapper .column-wrapper {
    .banner-container #banner {
      padding-bottom: 1em;
      width: 4.3em;
    }
  }
  .anchor-font-mobile {
    font-size: 0.9em;
  }
  .mobile-banner {
    h2 {
      font-size: 0.6em;
    }
  }
}

@media (max-width: 450px) {
  .mobile-banner {
    h2 {
      font-size: 0.45em;
    }
  }
}

@media (max-width: 300px) {
  .wrapper .column-wrapper {
    .banner-container #banner {
      padding-bottom: 1em;
      width: 4em;
    }
  }
}