@font-face {
  font-family: "FTAnchorYard";
  src: url("./fonts/FTAnchorYard-Regular.ttf") format("truetype");
}

body{
  background-color: #34e6e4 !important;
}

.anchor-font {
  font-family: "FTAnchorYard";
  font-size: 0.86em;
  line-height: 54px;
  a {
    color: black;
  }
}

.location {
  letter-spacing: 1.5px;
  font-weight: bold;
}

.anchor-font-mobile {
  font-size: 1.1em;
}

#anchor-mobile-img {
  width: 30%;
}

#mail-btn {
  pointer-events: none;
  cursor: default;
}

#main-submit-btn {
  background: black;
  color: #efefef;
  font-size: 0.3em;
  width: 10em;
  border: none;
}

#ribbon {
  font-size: 0.35em;
  span {
    a {
      color: #730810;
    }
  }
  img {
    vertical-align: middle;
    width: 2.5em;
  }
}

.wrapper{
  background-color: #34e6e4;
  width: 100%;
  margin: 0;
  font-family: 'Fredericka the Great', cursive;
  font-size: 4em;
  .column-wrapper {
    &, .row {
      padding: 0;
      margin: 0;
    }
    .boats-div-placeholder {
      height: 210px;
      position: relative;
      #boats {
      }
    }
    .banner-container {
      position: absolute;
      top: 1.4em;
      left: 0;
      padding: 0;
      #banner{
        width: 6em;
      }
    }
    #year-img {
      width: 60%;
      display: block;
      margin: auto;
    }
    #title-img {
      width: 90%;
      display: block;
      margin: 0.5em auto;
    }
    .row-email-container {
      padding-top: 0.25em;
      p {
        color: black;
        font-size: 0.5em;
      }
      .email-me .input-group {
        border-top: solid 1px #808080;
        border-radius: 5px;
      }
    }
  }
}

.mobile-banner {
  background: #730810;
  padding-top: 0.01em;
  padding-bottom: 0.3em;
  h2 {
    font-size: 0.7em;
  }
  h2:last-of-type {
    font-family: "FTAnchorYard";
    a {
      color: black;
    }
  }
}