body{
  background-color: #34e6e4 !important;
}
#ribbon {
  font-size: 0.3em;
  span {
    a {
      color: #730810;
    }
  }
  img {
    vertical-align: middle;
    width: 4em;
  }
}

.wrapper{
  background-color: #34e6e4;
  width: 100%;
  margin: 0;
  font-family: 'Fredericka the Great', cursive;
  font-size: 4em;
  .column-wrapper {
    &, .row {
      padding: 0;
      margin: 0;
    }
    .boats-div-placeholder {
      height: 210px;
      position: relative;
      // overflow: hidden;
      #boats {
      }
    }
    .banner-container {
      padding: 1em 0 0 0;
      #banner{
        width: 6em;
      }
    }
    #year-img {
      width: 50%;
      display: block;
      margin: auto;
    }
    #title-img {
      width: 100%;
      display: block;
      margin: 0.5em auto;
    }
    .row-email-container {
      padding-bottom: 1em;
      p {
        font-size: 0.5em;
      }
      .email-me .input-group {
        border-top: solid 1px #808080;
        border-radius: 5px;
      }
    }
  }
}