@font-face {
  font-family: "FTAnchorYard";
  src: url("./fonts/FTAnchorYard-Regular.ttf") format("truetype");
}

body{
  background-color: #34e6e4 !important;
}

.anchor-font {
  font-family: "FTAnchorYard";
  font-size: 0.86em;
  line-height: 54px;
}

#mail-btn {
  pointer-events: none;
  cursor: default;
}

#main-submit-btn {
  background: black;
  color: #efefef;
  font-size: 0.3em;
  width: 10em;
}

#ribbon {
  font-size: 0.3em;
  span {
    a {
      color: #730810;
    }
  }
  img {
    vertical-align: middle;
    width: 4em;
  }
}

.wrapper{
  background-color: #34e6e4;
  width: 100%;
  margin: 0;
  font-family: 'Fredericka the Great', cursive;
  font-size: 4em;
  .column-wrapper {
    &, .row {
      padding: 0;
      margin: 0;
    }
    .boats-div-placeholder {
      height: 210px;
      position: relative;
      // overflow: hidden;
      #boats {
      }
    }
    .banner-container {
      position: absolute;
      top: 1.6em;
      left: 0;
      padding: 0;
      #banner{
        width: 6em;
      }
    }
    #year-img {
      width: 70%;
      display: block;
      margin: auto;
    }
    #title-img {
      width: 92%;
      display: block;
      margin: 0.5em auto;
    }
    .row-email-container {
      p {
        color: black;
        font-size: 0.5em;
      }
      .email-me .input-group {
        border-top: solid 1px #808080;
        border-radius: 5px;
      }
    }
  }
}