@media (max-width: 1150px) {
  #ribbon {
    font-size: 0.25em;
  }
  .wrapper .column-wrapper .banner-container #banner {
    width: 5em;
  }
  .title {
    font-size: 0.9em;
  }
}

@media (max-width: 900px) {
  .row-email-container p {
    font-size: 0.55em;
  }
  #ribbon img {
    display: block;
    margin: auto;
  }
  .wrapper .column-wrapper {
    .banner-container #banner {
      width: 4.5em;
    }
  }
}

@media (max-width: 760px) {
  .main-row {
    padding-top: 3.6em;
  }
}

@media (max-width: 550px) {
  .wrapper .column-wrapper {
    .banner-container #banner {
      padding-bottom: 1em;
      width: 4.3em;
    }
  }
}

@media (max-width: 300px) {
  .wrapper .column-wrapper {
    .banner-container #banner {
      padding-bottom: 1em;
      width: 4em;
    }
  }
}