<div class="row code-of-conduct">
  <div class="conduct-title text-center">
    <h3>Code of Conduct</h3>
  </div>
  <div class="standard-font text-center">
    <p>
      Don’t be a jerk.
      We welcome everyone regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion.
      We will not tolerate anyone showing any verbal or physical disrespect, harassment, and/or offensive comments. We reserve the right at any time to ask you to leave if you are participating in those actions.
      If you need to report an incident that violates this policy, please speak to an event organizer, volunteer, or email <a href="mailto:paris.pittman@teamaol.com">paris.pittman@teamaol.com</a>.
    </p>
  </div>
  <div class="conduct-title text-center">
    <h5>Have fun and learn something new.</h5>
  </div>
</div>
