<div class="footer">
  <!-- Previous Hackathon links/Info -->
  <div id="footer-text" class="text-center">
    <p>Curious about the previous competitions? Check out the sites for the
      <a href="2010/">First</a>, <a href="2012/">Second</a> or the <a href="2014/">Third</a> Hackathon.
    </p>
  </div>
  <div class="text-center">
    <ul>
      <li><a href="#">FAQ</a></li>
      <span class="footer-pipe">|</span>
      <li><a href="#">CONTACT</a></li>
    </ul>
    <div class="hackathon">
      <p>MADE WITH LOVE IN BALTIMORE</p>
      <p>© 2015 Baltimore Hackathon</p>
    </div>
  </div>
</div>
