<div class="footer">
  <div class="text-center">
    <ul>
      <li>FAQ</li>
      |
      <li>CONTACT</li>
    </ul>
    <div class="hackathon">
      <p>MADE WITH LOVE IN BALTIMORE</p>
      <p>© Baltimore Hackathon</p>
    </div>
  </div>
</div>
