<div class="row">
  <div class="judges col-lg-12" id="judges-page">
    <h3 class="text-center">Your Judges</h3>
    <div class="row judges-container">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="row text-center judge-image-div">
          <img src="./../images/judges/emmanuel.jpg">
        </div>
        <p>
          <a target="_blank" href="https://www.linkedin.com/pub/emmanuel-cephas/3a/b8a/926">Emmanuel Cephas, Jr.</a> is an inventor and Social Impact Entrepreneur from Baltimore and founder of the education technology company, <a target="_blank" href="http://thehumanstorm.com/">HUMAN STORM.</a>  He has worked for numerous organizations such as <a target="_blank" href="https://www.nasa.gov/centers/goddard/home/">NASA Goddard Space Flight Center</a> and <a target="_blank" href="http://ww.northropgrumman.com/Careers/DiscoverNorthropGrumman/Pages/AerospaceSystems.aspx">Northrop Grumman Space Technology.</a>
        </p>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="row text-center judge-image-div">
          <img src="./../images/judges/catherine.jpg">
        </div>
        <p>
          <a target="_blank" href="https://www.linkedin.com/in/catharinerobertson">Catharine Robertson</a> has been making award-winning web experiences for nearly 20 years. She has been an Information Architect for The <a target="_blank" href="http://www.berndtgroup.net/">Berndt Group</a>, <a target="_blank" href="http://www.leggmason.com/">Legg Mason</a>, and is the User Experience Lead at <a target="_blank" href="http://www.edaptivesys.com/">eDaptive Systems</a>,  She has taught <a target="_blank" href="https://www.mica.edu/Programs_of_Study/Graduate_Programs/Information_Visualization_(Online_MPS).html">Information Visualization</a> at MICA and is an organizer of <a target="_blank" href="http://www.ignitebaltimore.com/">Ignite Baltimore</a>.
        </p>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-xs-12 col-xs-offset-0">
        <div class="row text-center judge-image-div">
          <img src="./../images/judges/dave.jpg">
        </div>
        <p>
          <a target="_blank" href="https://www.linkedin.com/in/davidctroy">David Troy</a> is the CEO and Co-Founder of <a target="_blank" href="http://410labs.com/">410</a> Labs and a founder of the <a target="_blank" href="http://baltimoreangels.com/">Baltimore Angels</a> He is the curator of <a target="_blank" href="http://tedxmidatlantic.com/">TedxMidAtlantic</a> and has given his own <a target="_blank" href="https://www.ted.com/talks/dave_troy_social_maps_that_reveal_a_city_s_intersections_and_separations?language=en">TED talk on social data visualizations</a>.
        </p>
      </div>
      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-0 col-xs-12">
        <div class="row text-center judge-image-div">
          <img src="./../images/judges/dan.jpg">
        </div>
        <p class="text-center">
          Dan currently leads the advanced innovation team at Stanley Black and Decker. 17 years of experience in batteries, chargers, electronics, software and systems design largely focused on power tool, and high power density global product. Specializing in Innovation, Design to Value and user empathy to produce efficient and effective solutions.
        </p>
      </div>
    </div>
  </div>
</div>
