<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="#" class="hidden text-right" id="mobile-menu">Menu</a>
    <nav role="navigation">
      <ul id="navigation-menu" class="navigation-menu text-center">
        <li class="nav-link"><a class="text-center scroll" href="#about-page">About</a></li>
        <li class="nav-link"><a class="text-center scroll" href="#tracks-page">Tracks</a></li>
        <li class="nav-link"><a class="text-center scroll" href="#sponsors-page">Sponsors</a></li>
        <li class="nav-link"><a class="text-center scroll" href="#">FAQ</a></li>
        <li class="nav-link"><a class="text-center scroll" href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
