<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="#" class="hidden text-right" id="mobile-menu">Menu</a>
    <nav role="navigation">
      <ul id="navigation-menu" class="navigation-menu text-center">
        <% if (current_page.path == 'faq.html') %>
          <li class="nav-link"><a class="text-center scroll" href="/#about-page">About</a></li>
          <li class="nav-link"><a class="text-center scroll" href="/#tracks-page">Tracks</a></li>
          <li class="nav-link"><a class="text-center scroll" href="/#sponsors-page">Sponsors</a></li>
          <li class="nav-link active"><a class="text-center scroll" href="/faq.html">FAQ</a></li>
          <li class="nav-link"><a class="text-center scroll" href="/rules.html">Rules</a></li>
          <li class="nav-link"><a class="text-center scroll" href="/contact.html">Contact</a></li>
        <% elsif (current_page.path == 'contact.html') %>
          <li class="nav-link"><a class="text-center scroll" href="/#about-page">About</a></li>
          <li class="nav-link"><a class="text-center scroll" href="/#tracks-page">Tracks</a></li>
          <li class="nav-link"><a class="text-center scroll" href="/#sponsors-page">Sponsors</a></li>
          <li class="nav-link"><a class="text-center scroll" href="/faq.html">FAQ</a></li>
          <li class="nav-link"><a class="text-center scroll" href="/rules.html">Rules</a></li>
          <li class="nav-link active"><a class="text-center scroll" href="/contact.html">Contact</a></li>
        <% elsif (current_page.path == 'rules.html') %>
          <li class="nav-link"><a class="text-center scroll" href="/#about-page">About</a></li>
          <li class="nav-link"><a class="text-center scroll" href="/#tracks-page">Tracks</a></li>
          <li class="nav-link"><a class="text-center scroll" href="/#sponsors-page">Sponsors</a></li>
          <li class="nav-link"><a class="text-center scroll" href="/faq.html">FAQ</a></li>
          <li class="nav-link active"><a class="text-center scroll" href="/rules.html">Rules</a></li>
          <li class="nav-link"><a class="text-center scroll" href="/contact.html">Contact</a></li>
        <% else %>
          <li class="nav-link"><a class="text-center scroll" href="#about-page">About</a></li>
          <li class="nav-link"><a class="text-center scroll" href="#tracks-page">Tracks</a></li>
          <li class="nav-link"><a class="text-center scroll" href="#sponsors-page">Sponsors</a></li>
          <li class="nav-link"><a class="text-center scroll" href="/faq.html">FAQ</a></li>
          <li class="nav-link"><a class="text-center scroll" href="/rules.html">Rules</a></li>
          <li class="nav-link"><a class="text-center scroll" href="/contact.html">Contact</a></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
