<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <nav role="navigation">
      <ul id="navigation-menu" class="navigation-menu text-center">
        <li class="nav-link"><a class="text-center" href="">About</a></li>
        <li class="nav-link"><a class="text-center" href="">Tracks</a></li>
        <li class="nav-link"><a class="text-center" href="">Sponsors</a></li>
        <li class="nav-link"><a class="text-center" href="">FAQ</a></li>
        <li class="nav-link"><a class="text-center" href="">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
