<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <nav role="navigation">
      <ul id="navigation-menu" class="navigation-menu">
        <li class="nav-link"><a href="">About</a></li>
        <li class="nav-link"><a href="">Tracks</a></li>
        <li class="nav-link"><a href="">Sponsors</a></li>
        <li class="nav-link"><a href="">FAQ</a></li>
        <li class="nav-link"><a href="">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
