<div class="col-md-12 photos hidden-xs">
  <div class="row">
    <div class="col-md-4 overlay photo photo_1">
    </div>
    <div class="col-md-4 overlay photo photo_2">
    </div>
    <div class="col-md-4 overlay photo photo_3">
    </div>
  </div>
</div>
