<div class="col-md-12 photos-container">
  <div class="row photos-row">
    <div class="col-md-4 overlay photo photo_1 hidden-xs">
    </div>
    <div class="col-md-4 overlay photo photo_2 hidden-xs">
    </div>
    <div class="col-md-4 overlay photo photo_3 ">
    </div>
  </div>
</div>
