<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 text-center button-container">
  <a class="btn button" id="register-btn" type="submit" href="https://www.eventbrite.com/e/4th-annual-baltimore-hackathon-tickets-18019202921" target="_blank">Register Now</a>
</div>
