<div class="sponsors text-center">
<div id="sword-img"><img src="./images/sword.png"></div>
  <h3>ARRR MATEYS</h3>
  <h4>Brought to you by</h4>
  <img src="http://placehold.it/185x85">
  <img src="http://placehold.it/85x85">
  <!-- <img src="./images/sponsors/MOIT_Logo_White.png"> -->
  <!-- <img src="./images/sponsors/DHF.jpg"> -->
  <h4>Gold</h4>
  <img src="http://placehold.it/185x85">
  <img src="http://placehold.it/85x85">
  <!-- <img src="./images/sponsors/SBD_Logo.png"> -->
  <!-- <img src="./images/sponsors/Under-Armour-FREE-Shipping.jpg"> -->
  <h4>Silver</h4>
  <h4>Bronze</h4>
  <h4>Copper</h4>
</div>
