<div id="sponsors-page" class="sponsors text-center">
<div id="sword-img"><img src="./images/sword.png"></div>
  <h3>ARRR MATEYS</h3>
  <div class="row">
    <h4>Brought to you by</h4>
      <div class="col-md-6 sponsor-img form-group"> 
        <a href="http://moit.baltimorecity.gov/" target="_blank">
          <img src="./images/sponsors/MOIT_Logo.png">
        </a>
      </div>
  </div>
  <div class="row">
    <h4>Gold</h4>
      <div class="col-md-6 sponsor-img form-group"> 
        <a href="http://www.stanleyblackanddecker.com/careers" target="_blank">
          <img src="./images/sponsors/SBD_Logo.png">
        </a>
      </div>
      <div class="col-md-6 sponsor-img form-group"> 
        <a href="https://www.underarmour.com/" target="_blank">
          <img src="./images/sponsors/Under_Armour.png">
        </a>
      </div>
  </div>
  <div class="row">
    <h4>Silver</h4>
      <div class="col-md-4 sponsor-img form-group"> 
        <a href="https://www.paypal.com/" target="_blank">
          <img src="./images/sponsors/paypal.png">
        </a>
      </div>
      <div class="col-md-4 sponsor-img form-group"> 
         <a href="https://lgscout.com/" target="_blank">
          <img src="./images/sponsors/lookingglass.png">
        </a>
      </div>
      <div class="col-md-4 sponsor-img form-group"> 
        <a href="https://www.traitify.com/" target="_blanks">
          <img src="./images/sponsors/traitify_logo_white.png">
        </a>
      </div>
  </div>
  <h4>Bronze</h4>
  <h4>Copper</h4>
  <div class="row">
    <h4>With venue and fiscal sponsor thanks to:</h4>

      <div class="col-md-6 sponsor-img form-group"> <img src="./images/sponsors/DHF-Logo.png"> </div>
  </div>
</div>
