<div class="tracks col-lg-12" id="tracks-page">
  <h3 class="center">CHOOSE YOUR OWN ADVENTURE</h3>
  <ul>
    <li class="track-links col-sm-3"><a>General</a></li>
    <li class="track-links col-sm-3"><a>Wearables</a></li>
    <li class="track-links col-sm-3"><a>Do Gooders</a></li>
    <li class="track-links col-sm-3"><a>TBA</a></li>
  </ul>
  <ul>
    <li class="col-sm-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate moletie tellus, non pharetra velit lacinia quis.  Phasellus ultrices ante.</li>
    <li class="col-sm-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate moletie tellus, non pharetra velit lacinia quis.  Phasellus ultrices ante.</li>
    <li class="col-sm-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate moletie tellus, non pharetra velit lacinia quis.  Phasellus ultrices ante.</li>
    <li class="col-sm-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate moletie tellus, non pharetra velit lacinia quis.  Phasellus ultrices ante.</li>
  </ul>
</div>
