<div class="row">
  <div class="tracks col-lg-12" id="tracks-page">
    <div class="row text-center map-image-div">
      <img src="./../images/pirate-map.png">
    </div>
    <h3 class="text-center">CHOOSE YOUR OWN ADVENTURE</h3>
    <div class="row tracks-container">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <h3>Wearables</h3>
        <h4>sponsored by Under Armour</h4>
        <ul>
          <li>Blending technology components with products people wear on clothes or their body</li>
          <li>Examples: Fitness/health, fashion, & productivity</li>
          <li>Judge: UA Rep, George Hanson</li>
          <li>Prize: $3000 Team and $1000 Individual</li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <h3>Seafarer's Choice</h3>
        <h4><br /></h4>
        <ul>
          <li>Using tech to solve a problem, be funny, create a product, or start a business!</li>
          <li>Mobile apps, websites, software, etc. are all options!</li>
          <li>Judge: Emmanuel Cephas Jr, Catharine Robertson & David Troy</li>
          <li>Prizes: $1000 individual; $2000 team</li>
          <li>MOIT Judge: Heather Hudson</li>
          <li>MOIT Choice Prize: $2000</li>
        </ul>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
        <h3>Hardware</h3>
        <h4>sponsored by Stanley Black and Decker</h4>
        <ul>
          <li>Like that of Seafarer’s Choice but hardware as the primary means (vs. software)</li>
          <li>Examples: Productivity hacks, energy solutions, healthcare devices</li>
          <li>Judge: Daniel White, VP Innovation, SB&D</li>
          <li>Prize: $1000</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 tressure-chest">
        <img src="./../images/treasure-chest.png" />
      </div>
    </div>
  </div>
</div>
