<div class="row">
  <div class="tracks col-lg-12" id="tracks-page">
    <div class="row text-center map-image-div">
      <img src="./../images/pirate-map.png">
    </div>
    <h3 class="text-center">CHOOSE YOUR OWN ADVENTURE</h3>
    <div class="row tracks-container">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <h3><a href="#">Wearables</a></h3>
        <h4>sponsored by Under Armour</h4>
        <p>
         A project incorporates a technology component to something that a person would wear for fashion, health, productivity, or any other reason! This space is ripe with innovation for getting people connected in exciting ways - let’s see your ideas! This category will be judged by a UA rep and winner(s) will receive: TBU
        </p>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <h3><a href="#">Sailors Choice</a></h3>
        <h4><br /></h4>
        <p>
          A project that uses any kind of technology to solve a problem, create a product, see an idea through, or start a business! Mobile apps, websites, and software projects are welcome. This category will be judged by team of 8 respected judges in their fields and winner(s) will receive: $1,000 for individuals, $2000 for teams, and a special MOIT prize of $2,000!
        </p>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
        <h3><a href="#">Hardware</a></h3>
        <h4>sponsored by Stanley Black and Decker</h4>
        <p>
          A project that either creatively or impressively uses hardware as the primary means. It is possible that a hardware project uses some software for controlling logic, but the primary sophistication lies within the composition or production of the physical components. This category will be judged by Daniel White, Vice President of Innovation at SB&D, and the winner(s) will receive $1,000! SB&D will also have hardware kits onsite with raspberry pi's, cool sensors, and more!
        </p>
      </div>
      <!-- <div class="col-lg-3 col-md-6 col-xs-12">
        <h3><a href="#">TBA</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing edivt. Donec vulputate moletie tellus, non pharetra vedivt lacinia quis.  Phasellus ultrices ante.Lorem ipsum dolor sit amet, consectetur adipiscing edivt. Donec vulputate moletie tellus, non pharetra vedivt lacinia quis.  Phasellus ultrices ante.
        </p>
      </div> -->
    </div>
    <div class="row">
      <div class="col-lg-12 tressure-chest">
        <img src="./../images/treasure-chest.png" />
      </div>
    </div>
  </div>
</div>