<div class="row">
  <div class="tracks col-lg-12" id="tracks-page">
    <div class="row text-center map-image-div">
      <img src="./../images/pirate-map.png">
    </div>
    <h3 class="text-center">CHOOSE YOUR OWN ADVENTURE</h3>
    <ul class="tracks-container">
      <li class="col-lg-3 col-md-6 col-xs-12">
        <h3><a href="#">General</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate moletie tellus, non pharetra velit lacinia quis.  Phasellus ultrices ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate moletie tellus, non pharetra velit lacinia quis.  Phasellus ultrices ante.
        </p>
        <div class="row track-images">
          <img src="./../images/treasure-chest.png" />
        </div>
      </li>
      <li class="col-lg-3 col-md-6 col-xs-12">
        <h3><a href="#">Wearables</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate moletie tellus, non pharetra velit lacinia quis.  Phasellus ultrices ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate moletie tellus, non pharetra velit lacinia quis.  Phasellus ultrices ante.
        </p>
        <div class="row track-images">
          <img src="./../images/treasure-chest.png" />
        </div>
      </li>
      <li class="col-lg-3 col-md-6 col-xs-12">
        <h3><a href="#">Do Gooders</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate moletie tellus, non pharetra velit lacinia quis.  Phasellus ultrices ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate moletie tellus, non pharetra velit lacinia quis.  Phasellus ultrices ante.
        </p>
        <div class="row track-images">
          <img src="./../images/treasure-chest.png" />
        </div>
      </li>
      <li class="col-lg-3 col-md-6 col-xs-12">
        <h3><a href="#">TBA</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate moletie tellus, non pharetra velit lacinia quis.  Phasellus ultrices ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate moletie tellus, non pharetra velit lacinia quis.  Phasellus ultrices ante.
        </p>
        <div class="row track-images">
          <img src="./../images/treasure-chest.png" />
        </div>
      </li>
    </ul>
  </div>
</div>