<div class="row code-of-conduct" id="about-page">
  <div class="conduct-title text-center">
    <h3>What is the <br />Baltimore Hackathon?</h3>
  </div>
  <div class="standard-font text-center">
    <p>
      Come embark on a 48 hour journey as we set sail with other innovators, creatives, thinkers and doers for a weekend full of learning and healthy competition. The three themes will navigate your ideas. Maybe it’s a problem that needs to be solved, an idea without the time, a skill that could help someone else, or just silly geekery, we welcome all skill levels and reasons for hanging out. Choose your own adventure for a chance to win some serious treasures.
    </p>
  </div>
  <div class="conduct-title text-center">
    <h5>We welcome all ages and skill levels.</h5>
  </div>
</div>
