/* line 2, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/contact.scss */
.contact .row-fluid {
  padding-top: 4em;
  word-wrap: break-word; }
/* line 6, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/contact.scss */
.contact a, .contact i {
  font-size: 0.9em;
  word-wrap: break-word;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%; }
/* line 13, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/contact.scss */
.contact .slack {
  width: 2em; }

@media (max-width: 800px) {
  /* line 20, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/contact.scss */
  .contact div div {
    font-size: 0.6em !important; }
    /* line 22, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/contact.scss */
    .contact div div i {
      margin-top: 1em;
      margin-bottom: 1em; } }
