/* line 2, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/faq.scss */
.faq h1 {
  font-size: 1.2em;
  padding: 0.2em;
  margin: 0;
  text-decoration: underline; }
/* line 8, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/faq.scss */
.faq details {
  padding: 0.1em 1em; }
  /* line 10, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/faq.scss */
  .faq details summary {
    font-weight: bold;
    font-size: 0.6em; }
  /* line 14, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/faq.scss */
  .faq details p, .faq details li {
    text-align: left;
    font-family: "OpenSans";
    font-size: 0.4em; }
    /* line 18, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/faq.scss */
    .faq details p a, .faq details li a {
      color: blue; }

@media (max-width: 1000px) {
  /* line 27, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/faq.scss */
  .faq-column-wrapper details {
    padding: 0.1em 0;
    font-size: 0.7em; } }
