@font-face {
  font-family: "FTAnchorYard";
  src: url("./fonts/FTAnchorYard-Regular.ttf") format("truetype"); }
/* line 6, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
body {
  background-color: #34e6e4 !important; }

/* line 10, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
.anchor-font {
  font-family: "FTAnchorYard";
  font-size: 0.86em;
  line-height: 54px; }
  /* line 14, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
  .anchor-font a {
    color: black; }

/* line 19, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
.location {
  letter-spacing: 1.5px;
  font-weight: bold; }

/* line 24, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
.anchor-font-mobile {
  font-size: 1.1em; }

/* line 28, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
#anchor-mobile-img {
  width: 30%; }

/* line 32, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
#mail-btn {
  pointer-events: none;
  cursor: default; }

/* line 37, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
#main-submit-btn {
  background: black;
  color: #efefef;
  font-size: 0.3em;
  width: 10em;
  border: none; }

/* line 45, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
#ribbon {
  font-size: 0.35em; }
  /* line 48, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
  #ribbon span a {
    color: #730810; }
  /* line 52, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
  #ribbon img {
    vertical-align: middle;
    width: 2.5em; }

/* line 58, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
.wrapper {
  background-color: #34e6e4;
  width: 100%;
  margin: 0;
  font-family: 'Fredericka the Great', cursive;
  font-size: 4em; }
  /* line 65, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
  .wrapper .column-wrapper, .wrapper .column-wrapper .row {
    padding: 0;
    margin: 0; }
  /* line 69, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
  .wrapper .column-wrapper .boats-div-placeholder {
    height: 210px;
    position: relative; }
  /* line 75, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
  .wrapper .column-wrapper .banner-container {
    position: absolute;
    top: 1.4em;
    left: 0;
    padding: 0; }
    /* line 80, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
    .wrapper .column-wrapper .banner-container #banner {
      width: 6em; }
  /* line 84, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
  .wrapper .column-wrapper #year-img {
    width: 60%;
    display: block;
    margin: auto; }
  /* line 89, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
  .wrapper .column-wrapper #title-img {
    width: 90%;
    display: block;
    margin: 0.5em auto; }
  /* line 94, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
  .wrapper .column-wrapper .row-email-container {
    padding-top: 0.25em; }
    /* line 96, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
    .wrapper .column-wrapper .row-email-container p {
      color: black;
      font-size: 0.5em; }
    /* line 100, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
    .wrapper .column-wrapper .row-email-container .email-me .input-group {
      border-top: solid 1px #808080;
      border-radius: 5px; }

/* line 108, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
.mobile-banner {
  background: #146261;
  padding-top: 0.01em;
  padding-bottom: 0.3em; }
  /* line 112, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
  .mobile-banner h2 {
    font-size: 0.7em;
    color: white; }
  /* line 116, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
  .mobile-banner h2:last-of-type {
    font-family: "FTAnchorYard"; }
    /* line 118, /Users/Sal/dev/projects/baltimore_hackathon/baltimorehackathon/source/stylesheets/splashstyle.scss */
    .mobile-banner h2:last-of-type a {
      color: white; }
