.navigation{
  background-color: $dark-blue-background;
  width: 100%;
  .navigation-menu{
  }
  li {
    text-align: center;
    display: inline;
    a {
      font-size: 0.8em;
      padding: 0.6em;
      color: $white;
      text-decoration: none;
    }
    a.eye-catching {
      color: $dark-blue-background;
      padding: 0.2em;
    }
  }
}

.active {
  text-decoration: underline;
  color: red;
}

li > .eye-catching {
  background-color: #ffd209;
  border-radius: 5px;
}

@media (max-width: 1300px) {
  .navigation li a {
    font-size: 0.6em;
  }
}
@media (max-width: 1000px) {
  .navigation li a {
    font-size: 0.5em;
  }
}
@media (max-width: 1000px) {
  .navigation li a {
    font-size: 0.4em;
  }
}
@media (max-width: 750px) {
  .navigation-wrapper {
    #mobile-menu {
      display: block!important;
      visibility: visible!important;
      color: white;
      padding: 0.1em 0.6em;
      text-decoration: none;
      font-size: 0.9em;
      position: relative;
      z-index: 1;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .navigation {
    float: left;
    ul {
      display: none;
      a {
        position: relative;
        z-index: 1;
        float: right;
        width: 100%;
        background-color: $dark-blue-background;
        &:hover {
          text-decoration: underline;
        }
      }
      a.eye-catching {
        color: white;
      }
    }
  }
}
