.button-container {
  margin-top: 0.8em;
  .button {
    padding: 0.4em 0.8em;;
    display: inline-block;
    text-transform: uppercase;
    background: $medium-blue-link;
    color: $white;
    font-size: 0.70em;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: $white;
      background: $hover-blue-link;
    }
  }
}

@media (max-width: 450px) {
  .button-container {
    .button {
      font-size: 0.5em;
    }
  }
}

@media (max-width: 340px) {
  .button-container {
    .button {
      font-size: 0.4em;
    }
  }
}