.navigation{
  background-color: $dark-blue-background;
  width: 100%;
  .navigation-menu{
  }
  a {
    font-size: 0.6em;
    padding: 0.3em;
    color: $white;
    text-decoration: none;
  }
  li {
    text-align: center;
    display: inline;
  }
}
