<div class="wrapper">
  <%= partial "partials/nav" %>
  <div class="col-lg-12 faq-column-wrapper contact">
    <div class="row-fluid">
      <div class="col-lg-12 text-center">
        <a href="https://twitter.com/bmorehackathon" target="_blank"><i class="fa fa-twitter"> @bmorehackathon</i></a><br />
        <a href="https://www.facebook.com/baltimorehackathon" target="_blank"><i class="fa fa-facebook"> @bmorehackathon</i></a><br />
        <a href="mailto:baltimorehackathon@gmail.com"><i class="fa fa-envelope"> baltimorehackathon@gmail.com</i></a>

        <br />
        <br />
        
        Sign Up Here to Join our Slack<br/>
        <a href="http://baltimorehackathon-slack.meteor.com" target="_blank"><img class="slack" src="./../images/slack.png"> Baltimore Hackathon</a>
      </div>
    </div>

    <%= partial "partials/footer" %>

  </div>
</div>
