<div class="wrapper">
  <%= partial "partials/nav" %>
  <div class="col-lg-12 faq-column-wrapper">
    <div class="row-fluid">
      <div class="col-lg-12 text-center">
      <a href="https://twitter.com/bmorehackathon" target="_blank"><i class="fa fa-twitter"> @bmorehackathon</i></a><br />
      <a href="https://www.facebook.com/baltimorehackathon" target="_blank"><i class="fa fa-facebook"> @bmorehackathon</i></a><br />
      <a href="mailto:baltimorehackathon@gmail.com"><i class="fa fa-envelope"> Baltimorehackathon@gmail.com</i></a><br />
      Sign Up Here to Join our Slack<br/>
      <i class="fa fa-slack"><a href="http://baltimorehackathon-slack.meteor.com" target="_blank">baltimorehackathon</i>
      </div>
    </div>
  </div>
</div>