<div class="wrapper">
  <div class="col-lg-12 column-wrapper">
    <div class="row-fluid">
      <div class="col-lg-12 boats-div-placeholder hidden-xs">
        <div id="boats" class="col-lg-12">
          <!--Ships go here-->
        </div>
      </div>
    </div>
    <!-- Banner Aboslute Positioned -->
    <div class="col-md-12 banner-container">
      <img id="banner" src="./2015/images/splashpage/banner.png" alt="September 18th-20th">
    </div>
    <div class="row-fluid">
      <div class="row">
        <div class="col-md-3 text-center anchor-font"><p>The<br />Fourth<br />Annual</p></div>
        <div class="col-md-6">
          <img id="year-img" src="./images/splashpage/balthack_2015.png" />
        </div>
        <div class="col-md-3 text-center anchor-font"><p>At The<br />Digital Harbour<br />Foundation</p></div>
        <div class="col-md-12">
          <img id="title-img" src="./images/splashpage/logo_title.png" />
        </div>
      </div> 
      <div class="row row-email-container">
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <p class="text-center">Keep me posted!</p>
          <form class="email-me" accept-charset="UTF-8" action="https://formkeep.com/f/2f8b69d94e47" method="POST">
            <div class="input-group input-group-lg">
              <span class="input-group-btn">
                <button class="btn btn-default" id="mail-btn">
                  <i class="glyphicon glyphicon-envelope"></i>
                </button>
              </span>
              <input class="form-control" type="email" name="email" id="email" placeholder="Email">
            </div>
            <button class="btn btn-default" id="main-submit-btn" type="submit">Submit</button>
          </form>
        </div>
      </div>
      <div id="ribbon" class="text-center">
        <img src="./2014/images/wing-timepiece.png" />
        <span>Curious about the previous competitions? Check out the sites for the 
          <a href="2010/">First</a>, <a href="2012/">Second</a> or the <a href="2014/">Third</a> Hackathon.
        </span> 
      <img src="./2014/images/wing-timepiece.png" />
    </div>
    </div>
  </div>
</div><!--End of wrapper-->

