<div class="wrapper">
  <%= partial "partials/nav" %>
  <div class="col-lg-12 column-wrapper">

    <div class="row-fluid">
      <div class="col-lg-12 boats-div-placeholder hidden-xs">
        <div id="boats" class="col-lg-12">
          <!--Ships go here-->
        </div>
      </div>
    </div>
    <!-- Banner Aboslute Positioned & Banner Desktop Container -->
    <div class="col-md-12 banner-container hidden-sm hidden-xs">
      <img id="banner" src="./2015/images/splashpage/banner.png" alt="September 18th-20th">
    </div>

    <!-- Title/Year/SideText/EmailForm Container-->
    <div class="row-fluid main-row">
      <div class="row">

        <!-- Hide this on Mobile -->
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs text-center anchor-font">
          <p>The <br />Fourth <br />Annual</p>
        </div>
        <!-- Show this on Mobile -->
        <div class="col-lg-12 visible-sm visible-xs text-center anchor-font anchor-font-mobile">
          <img id="anchor-mobile-img" src="./images/splashpage/balthack_anchor_mobile.png" />
          <p>The Fourth Annual</p>
        </div>
        <!-- Show Baltimore Hackathon title image for Mobile -->
        <div class="col-md-12 visible-sm visible-xs">
          <!-- <img id="title-img" src="./images/splashpage/logo_title.png" /> -->
          <img id="title-img" src="./images/splashpage/balthack_header_mobile.png" />
        </div>
        <!-- Hide 2015 Image Desktop on mobile -->
        <div class="col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-3 hidden-sm hidden-xs">
          <img id="year-img" src="./images/splashpage/balthack_2015.png" />
        </div>
        <!-- Hide Location Desktop on mobile  -->
        <div class="col-lg-3 col-md-3 text-center anchor-font hidden-sm hidden-xs">
          <p>
            <a href="https://www.google.com/maps/place/Digital+Harbor+Foundation+Tech+Center/@39.277293,-76.612046,17z/data=!3m1!4b1!4m2!3m1!1s0x89c8036f549949f3:0xf952135bc4558612" target="_blank">
              At The <br />Digital Harbour <br />Foundation
            </a>
          </p>
        </div>
        <!-- Show Banner for Mobile -->
        <div class="col-lg-12 text-center visible-sm visible-xs mobile-banner">
          <h2 class="text-center"><b>Sep. 18th-20th, 2015</b></h2>
          <h2 class="text-center">
            <a href="https://www.google.com/maps/place/Digital+Harbor+Foundation+Tech+Center/@39.277293,-76.612046,17z/data=!3m1!4b1!4m2!3m1!1s0x89c8036f549949f3:0xf952135bc4558612" target="_blank" class="location">
              At The Digital Harbor Foundation
            </a>
          </h2>
        </div>
        <!-- Hidding main Banner on Mobile -->
        <div class="col-md-12 hidden-sm hidden-xs">
          <img id="title-img" src="./images/splashpage/logo_title.png" />
        </div>
      </div> <!-- End of main-row -->

      <!-- Regiter Button -->
      <%= partial "partials/register" %>
      <%= partial "partials/photos" %>

      <!-- Previous Hackathon links/Info -->
      <div id="ribbon" class="text-center">
        <span>Curious about the previous competitions? Check out the sites for the
          <a href="2010/">First</a>, <a href="2012/">Second</a> or the <a href="2014/">Third</a> Hackathon.
        </span>
      </div>

    </div>
  </div><!-- End of column-wrapper -->
</div><!-- End of wrapper -->
