<div class="wrapper">
  <%= partial "partials/nav" %>
  <div class="col-lg-12 faq-column-wrapper winners">
    <div class="row-fluid">

      <div class="col-lg-4 col-md-6 text-center first-div">
        <h1 class="text-center">Mayor's Office of Information Technology (MOIT)</h1>
        <h2 class="text-center">NatureCoders</h2>
        <a href="http://devpost.com/software/createachimera" target="_blank"><i class="fa fa-anchor"></i></a>
        <div class="winners-img-container">
          <img src="./images/winners/natureCoders.jpeg">
        </div>
      </div>

      <div class="col-lg-4 col-md-6 text-center">
        <h1 class="text-center">Under Armour's Wearable's Track (Individual)</h1>
        <h2 class="text-center">Controlling Wearable LEDs with Your Mind!</h2>
        <a href="http://devpost.com/software/controlling-wearable-leds-with-your-mind" target="_blank"><i class="fa fa-anchor"></i></a>
        <div class="winners-img-container">
          <img src="./images/winners/wearableLeds.jpeg">
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <h1 class="text-center">Under Armour's Wearable's Track (Team)</h1>
        <h2 class="text-center">armchair</h2>
        <a href="http://devpost.com/software/armchair" target="_blank"><i class="fa fa-anchor"></i></a>
        <div class="winners-img-container">
          <img src="./images/winners/armchair.jpeg">
        </div>
      </div>

      <div class="col-lg-4 col-md-6 text-center">
        <h1 class="text-center">Stanley Black & Decker's Hardware Track</h1>
        <h2 class="text-center">Worm LiDAR</h2>
        <a href="http://devpost.com/software/worm-lidar" target="_blank"><i class="fa fa-anchor"></i></a>
        <div class="winners-img-container">
          <img src="./images/winners/wormLidar.jpeg">
        </div>
      </div>

      <div class="col-lg-4 col-md-6 text-center">
        <h1 class="text-center">Seafarer's Choice Track (Individual)</h1>
        <h2 class="text-center">Income Explorer</h2>
        <a href="http://devpost.com/software/income-explorer" target="_blank"><i class="fa fa-anchor"></i></a>
        <div class="winners-img-container">
          <img src="./images/winners/incomeExplorer.jpeg">
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <h1 class="text-center">Seafarer's Choice Track (Team)</h1>
        <h2 class="text-center">createAchimera</h2>
        <a href="http://devpost.com/software/createachimera" target="_blank"><i class="fa fa-anchor"></i></a>
        <div class="winners-img-container">
          <img src="./images/winners/createAchimera.jpeg">
        </div>
        </div>

      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 text-center">
        <h1 class="text-center">Hackers Favorite</h1>
        <h2 class="text-center">DigiFab</a></h2>
        <a href="http://devpost.com/software/digifab" target="_blank"><i class="fa fa-anchor"></i></a>
        <div class="winners-img-container">
          <img src="./images/winners/digiFab.jpeg">
        </div>
      </div>
    </div>
  </div>
</div>
